.App {
  text-align: center;
  height: 100vh;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  height: 7vh;
  border-bottom: 1px solid #D3D3D3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-right {
  justify-content: flex-end;
}

.logo {
  height: 100%;
}

.question {
  height: 60%;
  margin-right: 7px;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  height: 360px;
  width: 300px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyboard {
  height: 200px;
  display: flex;
  margin: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  height: 100%;
  width: 96%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  height: 100%;
  width: 100%;
  margin: 1%;
  border: 2px solid #D3D3D3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
}

.filled {
  border: 2px solid #696969;
}

.keyboard-row {
  height: 100%;
  padding: 0.8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.key, .largekey {
  height: 100%;
  width: 47px;
  margin: 0.5%;
  border-radius: 6px;
  background-color: #D3D3D3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: large;
}

.largekey {
  width: 70px;
  font-size: medium;
}

.key:hover, .largekey:hover, .screen:hover, .question:hover, .close {
  cursor: pointer;
}

.window:hover {
  cursor: default;
}

.key:active, .largekey:active {
  background-color: #696969;
}

.correct, .missed, .wrong {
  background-color: green;
  color: white;
  border: transparent;
  border: 2px solid #69696900;
}

.missed {
  background-color: yellow;
}

.wrong {
  background-color: rgb(63, 63, 63);
}

.screen {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #02020218;
}

.window {
  position: fixed;
  top: 10vh;
  left: auto;
  height: 90vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  border-radius: 6px;
  overflow: auto;
}

.close {
  width: 3%;
  margin: 20px;
  margin-left: auto;
}

@media screen and (max-width: 600px) {
  .keyboard {
    height: 150px;
  }

  .key {
    width: 30px;
    font-size: small;
  }

  .largekey {
    width: 50px;
    font-size: small;
  }
  
}