.App {
  text-align: center;
  height: 100vh;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  height: 7vh;
  border-bottom: 1px solid #D3D3D3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-right {
  justify-content: flex-end;
}

.logo {
  height: 100%;
}

.userText {
  padding-right: 10px;
}

.question, .userIcon {
  height: 60%;
  margin-right: 7px;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  height: 360px;
  width: 300px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyboard {
  height: 200px;
  display: flex;
  margin: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  height: 100%;
  width: 96%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  height: 100%;
  width: 100%;
  border: 2px solid #D3D3D3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

.flip-box {
  height: 100%;
  width: 100%;
  margin: 1.5%;
  background-color: transparent;
  perspective: 1000px;
}

.flip-box-inner {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-control .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-back {
  transform: rotateX(180deg);
  margin-top: -4px;
}

.filled {
  border: 2px solid #696969;
}

.keyboard-row {
  height: 100%;
  padding: 0.8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.key, .largekey {
  height: 100%;
  width: 47px;
  margin: 0.5%;
  border-radius: 6px;
  background-color: #D3D3D3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: large;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

.largekey {
  width: 70px;
  font-size: medium;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

.key:hover, .largekey:hover, .screen:hover, .question:hover, .close:hover, .userIcon:hover, .userText:hover{
  cursor: pointer;
}

.window:hover {
  cursor: default;
}

.key:active, .largekey:active {
  background-color: #696969;
}

.correct, .missed, .wrong {
  background-color: #6aaa64;
  color: white;
  border: transparent;
  border: 2px solid #69696900;
}

.missed {
  background-color: #c9b458;
}

.wrong {
  background-color: #787c7e;
}

.screen {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #02020218;
  z-index: 1;
}

.window {
  position: fixed;
  top: 10vh;
  left: auto;
  height: 90vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
  border-radius: 6px;
  overflow: auto;
  padding: 2.5%
}

.close {
  width: 3%;
  margin: 10px;
  margin-left: auto;
}

.headline {
  font-size: 6vh;
  font-family: 'Betany-bold';
  width: 100%;
}

.subHeadline {
  font-size: 3.5vh;
  font-family: 'Betany-Medium';
}

ul {
  list-style-type: disc;
  width: 90%;
  text-align: left;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

.signUp, .signIn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.or {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 4%;
  font-weight: bold;
  font-size: 1.5vw;
}

.form-input {
  width: 100%;
  margin: 2%;
  padding: 2%;
  border: 1px solid #D3D3D3;
  border-radius: 6px;
  font-size: large;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

@media screen and (max-width: 710px) {
  .keyboard {
    height: 150px;
  }

  .key {
    width: 30px;
    font-size: small;
  }

  .largekey {
    width: 50px;
    font-size: small;
  }

  .window {
    width: 90vw;
  }
}

@font-face {
  font-family: 'Betany-bold';
  src: url('./resources/Betany-Bold.otf');
}
@font-face {
  font-family: 'Betany-Medium';
  src: url('./resources/Betany-Medium.otf');
}